@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '_variables';

// @import 'audio-player';
@import 'nav';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

audio {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}

.footer-player {
  background-color: white;
  height: 200px;
}

