@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '_variables';

// @import 'audio-player';
@import 'nav';
@import 'toastr';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.footer-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top : 40px;
}

.info-musique{
  display: flex;
  flex-direction: row;

    div:first-child{
      width : 20%;
      height: 100%
     }
}

#main-content {
  display : flex;
  align-items: center;
  justify-content: center;
 
}

.player {
  background-color: rgba(255, 255, 255, 0.178);
  padding : 20px;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  #main-content{
    flex-wrap: wrap;
  }
}


.direction-row {
  display: flex;
  flex-direction: column;

    h2 {
      color : white; 
      margin-bottom: 20px;
    }
}

audio {
  display: none;
}

#customPlay img,
#customPause img {
  width : 60px;
}

.button {
  display: flex;
  flex-direction: row;
  margin-right : 50px;
}

.titres{
  color : white;
}

#customAudioPlayer{
  display: flex;
  flex-direction: row;
  align-items: center;
}