@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '_variables';

// @import 'audio-player';
@import 'nav';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer-player {
  height: 200px;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
  display: flex;
  flex-direction: row;
}


.footer-player {
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
    div{
      width : 50%;
    }
}

.info-musique{
  display: flex;
  flex-direction: row;

    div:first-child{
      width : 20%;
      height: 100%
     }
}

#main-content {
  display : flex;
  align-items: center;
  justify-content: center;
}